apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: {{ .Values.worker.replicas }}
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: {{ .Values.worker.image }}:{{ .Values.worker.tag }}
        imagePullPolicy: IfNotPresent
        args:
        - "-target-host=temporal:7233"
        ports:
        - containerPort: {{ .Values.worker.port }}
---
apiVersion: v1
kind: Service
metadata:
  name: worker
spec:
  selector:
    app: worker
  ports:
  - port: {{ .Values.worker.port }}
    targetPort: {{ .Values.worker.port }}
  type: ClusterIP
